name: Build Installer

on:
  workflow_call:
    outputs:
      artifact-name:
        description: "The name of the uploaded artifact"
        value: ${{ jobs.build.outputs.artifact-name }}

jobs:
  build:
    runs-on: windows-latest
    outputs:
      artifact-name: ${{ steps.upload.outputs.artifact-name }}

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --release

    - name: Build Installer
      run: ISCC.exe installer.iss

    - name: Upload artifacts
      id: upload
      uses: actions/upload-artifact@v4
      with:
        name: ScreenOff-Setup
        path: ScreenOff-Setup-*.exe
